@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
  

.main {
  background-color: #282c34;
  color: white;
  min-height: 380vh;
}

.App-header a {
  text-decoration: none;
}

@media (max-width: 960px) {

  .App-header h1 {
    color: white;
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
    margin-bottom: 3%;
    /* font-weight: bold; */
  }
  
  .conteudo {
    font-size: 119%;
    margin-left: 48%;
    margin-top: -47%;
    width: 50%;
  }
  
  .conteudo a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  } 

  .conteudo h5, p {
    margin: 1% 0 0 0;
  }
  
  .card {
    border-radius: 12px;
    width: 85%;
    background-color: #8080802b;
    padding-top: 0;
    padding-bottom: 6%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  
  .App-header .imagem {
    margin-top: 1%;
    margin-left: 2%;
    width: 44%;
    height: 375px;
    border-radius: 5px;
  }
}
