@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
  

.main {
  background-color: #282c34;
  color: white;
  min-height: 385vh;
}

.App-header a {
  text-decoration: none;
}

@media (max-width: 960px) {
  .main-detalhes {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
  }

  .App-header h1 {
    color: white;
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
    margin-bottom: 3%;
    /* font-weight: bold; */
  }

  .main-detalhes {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
  }
  
  .conteudo {
    font-size: 119%;
    margin-left: 48%;
    margin-top: -47%;
    width: 50%;
  }
  
  .conteudo a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  } 

  .conteudo h5, p {
    margin: 1% 0 0 0;
  }
  
  .card {
    border-radius: 12px;
    width: 85%;
    background-color: #8080802b;
    padding-top: 0;
    padding-bottom: 6%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  
  .App-header .imagem {
    margin-top: 1%;
    margin-left: 2%;
    width: 44%;
    height: 375px;
    border-radius: 5px;
  }

  .imagemDetalhes {
    margin-left: 61%;
    width: 35%;
    height: 579px;
  }

  .conteudoDetalhes h5 {
    padding-right: 4%;
    padding-left: 4%;
    color: #fff;
    background: #373b41;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 113%;
    height: 222px;
    width: 122%;
    align-items: center;
  }

  .conteudoDetalhes {
    width: 35%;
    margin-left: 8%;
    margin-bottom: 22%;
    margin-top: -55%;
  }

  .trailer h3 {
    margin-bottom: 14%;
    margin-left: 38%;
    margin-top: -26%;
    text-transform: uppercase;
    font-size: 142%;
    font-weight: 700;
  }

  .conteudoDetalhes .trailer img {
    margin-left: 5%;
    width: 56%;
    height: auto;
    display: block;
  }

  .conteudoDetalhes h4,
  .sobreTrailer {
    width: 124%;
    margin-left: 5%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin-top: 0;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }
}
